body {
    padding: 0;
    margin: 0;
}

.container {

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.envelope {
    background-color: #d74443;
    height: 150px;
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner1 {
    width: 0;
    height: 0;
    border-bottom: 150px solid #e15349;
    border-right: 270px solid transparent;
    position: absolute;
}

.inner2 {
    width: 0;
    height: 0;
    border-bottom: 150px solid #e95e55;
    border-left: 270px solid transparent;
    position: absolute;
}

.cover {
    width: 0;
    height: 0;
    border-top: 75px solid #ce554c;
    border-right: 135px solid transparent;
    border-left: 135px solid transparent;
    position: absolute;
    transform-origin: top;
}

.paper {
    background-color: lightgray;
    border-radius: 20px;
    height: 140px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: lightslategray;
    border: 1px solid lightslategray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}